dataset/FLIC
dataset/LEEDS
dataset/MPI/images
dataset/MPI/mpii_human_pose_v1_u12_1
dataset/COCO/annotations/*
dataset/COCO/val2014/*
dataset/COCO/train2014/*
training/lmdb/*
training/json/*
training/prototxt/*
*.caffemodel
testing/results/
*.m~
caffePath.cfg
models/
testing/python/.*
